#people {
    display: grid;
    margin: 0 2vw;

    align-content: stretch;

    grid-template-columns: repeat(auto-fill, minmax(min(100%, 560px), 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;

    gap: 16px;
}