.login-form-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form {
    background-color: white;
    color: rgb(82, 84, 110);
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    overflow: auto;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-form > form > * {
    margin: 0 auto;
    text-align: center;
}

.login-form .-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;

    align-items: center;

    /* Mobile */
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        justify-items: stretch;
        text-align: left;
    }
}

.login-form .-grid-item {
    padding-block: 3px;
    margin: 6px;
}

.login-form label {
    font-weight: bold;
}

@media (max-width: 768px) {
    .login-form label {
        margin-bottom: 0 !important;
    }
}

.login-form h3 {
    border-bottom: 1px solid rgb(192, 192, 192);
    color: darkblue;
    font-size: 28px;
}

.login-form .form-switcher {
    margin-top: 1em;
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .login-form {
        width: 80%;
    }

}

#registerForm {
    display: none;
}

#signInForm {
    display: block;
}

#error:empty {
    display: none;
}