#member-nav {
    position: sticky;
    z-index: 99;
    left: 0;
    right: 0;
    top: 8px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    gap: 18px;

    padding: 0 16px;

    & > .-links {
        margin: 0;
        list-style: none;
        padding: 6px 0;

        display: flex;
        align-items: center;
        gap: 8px;

        flex-grow: 1;

        & a, & a:visited {
            display: block;
            padding: 4px 12px;
            text-decoration: none;
            color: darkblue;
        }

        & a:hover {
            background-color: #E5E5E5;
            border-radius: 4px;
        }

        & a.-active {
            background-color: var(--primary-color);
            color: white;
            border-radius: 4px;
        }

        & a.-active:hover {
            background-color: #11296B;
        }

        & li:first-child {
            padding-left: 0;
        }

        & .-sign-out {
            margin-left: auto;

            & > a {
                color: red;
            }
        }
    }

    & > .-ttm {
        align-self: center;
        font-weight: bold;
    }

    & > .-sep {
        border-right: 1px solid rgba(0, 0, 0, 0.3);

        margin: 8px 0;
    }

    @media (max-width: 768px) {
        position: fixed;
        top: unset;
        margin: 0 8px;
        bottom: 4px;

        & > .-ttm, & > .-sep {
            display: none;
        }

        & .-icon {
            display: block;
            text-align: center;
            font-size: 1.33em !important;
        }

        & .-mobile-hide {
            display: none !important;
        }

        & .-label {
            display: block;
            font-size: 0.8em;
        }
    }
}