
.profile-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-form {
    background-color: white;
    color: rgb(82, 84, 110);
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    max-width: 960px;
    margin: 0 16px;
    height: 30%;
    overflow: auto;
    width: 90%;

    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
}

.profile-form hr {
    border: 1px solid rgb(160, 160, 160) !important;

}

.profile-form .-grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 0.5fr 1fr;
    margin-bottom: 10px;


    /* Mobile */
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.profile-form .-grid-item {
    padding: 10px;
    border-bottom: 1px solid rgb(192, 192, 192);

    & > img {
        object-fit: cover;
        max-width: 80%;
        max-height: 80%;
    }

    & > label {
        border-radius: 4px;
        background-color: rgb(19, 48, 134);
        color: white;
        padding: 6px 8px;
        border: 1px solid transparent;
        cursor: pointer;
    }

    & > label:hover {
        background-color: color-mix(in srgb, rgb(19, 48, 134) 80%, black 20%);
        cursor: pointer;
    }

}

.profile-form :is(.-desc-input, .-bio-input) {
    width: 100%;
}

@media (max-width: 768px) {
    .profile-form .-grid-item:nth-child(2n+1) {
        padding: 2px;
        font-weight: bold;
        border: none;
    }

    .profile-form .-grid-item:nth-child(2n+1):not(:first-child) {
        padding-top: 6px;
    }

    .profile-form .-grid-item {
        text-align: left;
    }

    .profile-form .-grid-item:nth-child(2n) > :first-child {
        width: 100%;
        min-height: 1.75em;
        box-sizing: border-box;
    }
}

.profile-form .-desc-input {
    min-height: 4em !important;
}

.profile-form .-bio-input {
    min-height: 7em !important;
}

.profile-form .-title {
    color: darkblue;

    & > hr {
        border-top: 2px solid black;
        margin-top: -2px;
    }
}

.sticky-button{
    position: fixed;
    z-index: 99;
    bottom: 5px;; 
    right: 350px;
}

.profile-form .-form-btn {
    --btn-bg: black;
    background-color: var(--btn-bg);

    border-radius: 4px;
    font-size: 14px;
    color: white;
    padding: 6px 8px;
    border: 1px solid transparent;
    font-family: inherit;

    text-decoration: none;
    display: inline-block;
}

.profile-form .-form-btn:hover {
    background-color: color-mix(in srgb, var(--btn-bg) 80%, black 20%);
    cursor: pointer;
}

.profile-form .-form-btn:active {
    background-color: color-mix(in srgb, var(--btn-bg) 70%, black 30%);
    cursor: pointer;
}

.profile-form .-delete {
    --btn-bg: red;
}

.profile-form :is(.-public, .-visits) {
    --btn-bg: var(--primary-color);
}

.profile-form > form > *:not(table) {
    margin: 0 auto;
}

.profile-form ul {
    margin: 0;
    list-style: none;
    float: left;
    text-align: left;
}

.profile-form ul > li > label {
    margin: 0;
    list-style: none;
}

.profile-form label {
    font-weight: bold;
}

#pfp {
    z-index: 1;
    position: relative;
    background-color: rgb(126, 126, 126);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 4px solid rgb(222, 222, 222);
    overflow: hidden;
}

#pfp img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

#pfp .pfp-inside {
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
}

#pfp .pfp-inside label {
    cursor: pointer;
}

#pfp:hover .pfp-inside {
    opacity: 1;
}

#pfp:hover img {
    opacity: .5;
}

#err {
    color: red;
}
#all-good {
    color: white;
    --shine: 1%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(37,173,44,1) 0%, rgba(54,207,9,1) 50%, rgba(37,173,44,1) 100%);
    background-size: 250% 100%;
    background-position-x: 0;
    border : 1px solid darkgreen;
    border-radius : 7px;
    position: fixed;
    bottom: 0;
    font-size: 15px;
    padding : 4px 8px;
    font-weight: bolder;

    animation: all-good-shine 6.0s linear,
    all-good-disappear 1.0s 5.0s forwards;
}
@keyframes all-good-shine {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 180%;
    }
}
@keyframes all-good-disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}