@charset "UTF-8";

.profile-card {
    border: 1px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;

    display: flex;
    align-items: stretch;

    min-height: 5.0em;
    border-radius: 4px;
    overflow: hidden;

    background-color: white;

    & .-name {
        font-weight: bold;
        font-size: 1.2em;
    }

    & .-bio {
        margin-bottom: 6px;
        overflow-wrap: anywhere;
    }

    & .-details {
        font-size: 0.8em;
        display: flex;
        flex-wrap: wrap;

        & > :not(:last-child)::after {
            content: "•";
            margin: 0 5px;
        }
    }

    & .-pfp {
        object-fit: cover;
        aspect-ratio: 16/9;
    }

    & .-infos {
        padding: 8px;
        align-self: center;
    }

    & .-pfp, & .-block-icon {
        width: 128px;
    }

    & .-block-icon {
        font-size: 80px;
        align-self: center;

        display: flex;
        justify-content: center;
    }

    &.-blocked {
        background-image: var(--block-bg-darker);
        color: white;
        opacity: 0.5;
    }
}

.profile-card-container {
    container-type: inline-size;
    container-name: profile-card-container;
}
.profile-card-container > .profile-card {
    width: 100%;
    height: 100%;
}

@container profile-card-container (max-width: 400px) {
    .profile-card {
        flex-direction: column;
    }

    .profile-card .-pfp, .profile-card .-block-icon {
        width: 100%;
        max-height: 10em;
    }

    .profile-card .-block-icon {
        padding-top: 16px;
    }

    .profile-card .-infos {
        align-self: flex-start;
    }
}

.full-profile {
    display: grid;

    grid-template:
        "primary   main"  auto
        "secondary main"  1fr
        "admin     admin" auto
         / minmax(320px, 30fr) 70fr;

    max-width: 1440px;
    margin: 24px auto;

    --gap: 16px;
    gap: var(--gap);

    background-color: white;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);

    --shadow-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 2px var(--shadow-color);

    & > .-primary-infos {
        grid-area: primary;
        text-align: center;

        font-size: 1.33rem;
        font-weight: bold;

        & > .-name, & > .-name > .-shine {
            font-size: 2.0rem;
            margin: 0;
        }

        & > #-pfp {
            margin : auto;
            z-index: 1;
            position: relative;
            background-color: rgb(126, 126, 126);
            border-radius: 50%;
            width: 120px;
            height: 120px;
            border: 4px solid rgb(222, 222, 222);
        }

        & > #-pfp img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity: 1;
            transition: opacity .2s ease-in-out;
        }

        & > .sup-icon {
            margin-left: 0.25em;
        }
    }

    & > .-secondary-infos {
        grid-area: secondary;

        & > h3 {
            font-size: 1.1em;
            font-weight: bold;
            margin-block: 0 0.2em;
        }

        & > .pill {
            max-width: 100%; /* Éviter le dépassement */
            margin-block: 0.25em;
        }

        & > .-situation {
            --label-color: #ab12b5;
        }

        & > .-smoke {
            --label-color: #222222;
        }

        & > .-orientation {
            --label-color: #9a1040;
        }

        & > .-job {
            --label-color: #85580b;
        }

        & > .-field {
            --label-color: #0b8558;
        }

        & > hr {
            border: 0;
            border-bottom: 1px solid rgba(40, 40, 40);
            margin: 0.5em;
        }

        & > .-pref-list {
            margin-block: 0.25em;
            padding-inline-start: 3ch;

            list-style-type: '✔️';

            & > li.-not {
                list-style-type: '❌';
                color: rgba(255, 0, 0, 0.7)
            }

            & > li {
                padding-inline-start: 0.25em;
            }

            & > li::marker {
                color: black;
            }
        }
    }

    & > .-main {
        grid-area: main;

        overflow-wrap: anywhere;

        & > h2 {
            font-size: 1.2em;
            margin-block: 0 0.5em;
        }

        & > p {
            margin-block: 0 0.75em;
        }

        & > .-gallery{
            display: flex;
            width: 100%;
        }

        & > .-gallery .custom-slider {
            display: none; 
        }

        & > .-gallery .slide-container{
            position: relative;
            margin: auto;
        }

        & > .-gallery .prev, .next {
            cursor: pointer;
            position: absolute;        
            top: 50%;
            transform: translateY(-50%);
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: white;
            font-size: 30px;
            background-color: rgba(0,0,0,0);
            transition: background-color 0.6s ease;
        }

        & > .-gallery .prev{ 
            left: 15px; 
        }
        & > .-gallery .next { 
            right: 15px; 
        }
        & > .-gallery .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.5);
            text-decoration: none;
        }

        & > .-gallery .slide-img{
            border-radius: 20%;
            width: 100%; 
            height: 400px;
            object-fit: cover;
            object-position: center;
        }
    }

    & > .-admin {
        grid-area: admin;
        text-align: center;

        & > .-title {
            text-align: center;
        }

        & > form {
            display: contents;
        }

        & button {
            margin: 4px;
        }
    }

    /* Mobile */
    @media (max-width: 768px) {
        grid-template:
            "primary"
            "main"
            "secondary"
            "admin"
            / 100%;
        max-width: unset;
    }
}

.full-profile.-sup {
    background: linear-gradient(160deg, var(--sup-color) 0%, var(--sup-color-l3) 50%, var(--sup-color-l4) 100%);
    border-color: rgb(172, 152, 0);
    --shadow-color: rgba(191, 168, 1, 0.3);

    & > .-primary-infos > .-name {
        position: relative;
        color: transparent;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 44%, rgba(233, 203, 25, 1) 50%, rgba(0, 0, 0, 1) 56%);
        background-clip: text;

        background-size: 200%;
        background-repeat: no-repeat;
        background-position-x: 0%;

        animation: name-shine 6s infinite linear;
        animation-delay: 1s;

        text-shadow: 0 -1px 8px rgba(0, 0, 0, 0.25);
    }

    & > .-primary-infos > #-pfp {
        border: 4px solid white;
        animation: glow 1s infinite alternate;

    }
}

@keyframes name-shine {
    0% {
        background-position-x: 0%;
    }
    33% {
        background-position-x: 100%;
    }
    33.001% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 0%;
    }
}

@keyframes glow {
    from {
        -webkit-box-shadow: 0px 0px 15px 0px rgb(255, 251, 194);
        box-shadow: 0px 0px 15px 0px rgb(255, 251, 194);
    }
    to {
        -webkit-box-shadow: 0px 0px 15px 10px rgb(255, 251, 194);
        box-shadow: 0px 0px 15px 10px rgb(255, 251, 194);
    }
}

.blocked-profile {
    display: grid;
    grid-template:
        "side title title" auto
        "side icon details" auto
        / minmax(260px, auto) 30fr 70fr;

    max-width: 1440px;
    margin: 24px auto;
    border-radius: 3px;

    background-image: var(--block-bg);
    color: white;

    & > .-title {
        grid-area: title;
        text-align: center;
        padding: 6px;
        margin: 10px;
    }
    & > .icon {
        grid-area: icon;
        text-align: center;
        font-size: min(15vw, 15vh);
        align-self: center;
        padding-bottom: 16px;
    }

    & > .-minimal-infos {
        grid-area: side;
        padding: 6px;
        margin: 10px;
        & > .-name {
            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
        }

        border: solid rgba(255, 255, 255, 0.2);
        border-width: 0px 1px 0px 0px;
    }

    & > .-details {
        grid-area: details;
        padding: 0 24px;
        padding-bottom: 16px;

        align-self: center;
    }

    & .-unblock {
        border: 0;
        background-color: white;
        color: black;

        border-radius: 4px;
        padding: 8px;
        font-size: 1.25em;

        display: block;
        margin: 16px auto;

        border: 1px solid #cfcfcf;

        --shadow-spread: 1px;
        --shadow-blur: 8px;
        --shadow-alpha: .33;
        --shadow-y: 2px;
        box-shadow: 0 var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgba(255, 255, 255, var(--shadow-alpha));

        transition: box-shadow .25s ease-in-out, background-color .1s linear;

        &:hover, &:active {
            --shadow-spread: 4px;
            --shadow-blur: 16px;
            --shadow-alpha: .5;
            --shadow-y: 0px;
        }
        &:hover {
            background-color: rgb(235, 235, 235);
        }
        &:active {
            background-color: rgb(175, 175, 175);
        }
    }

    @media (max-width: 768px) {
        grid-template:
            "side"
            "title"
            "icon"
            "details"
            / 100%;

        & > .-minimal-infos {
            border-width: 0px 0px 1px 0px;
        }
        & > .-details { padding-bottom: 0; }
    }
}

.chat-button {
    background-color: var(--primary-color-l1);
    color: white;
    border-radius: 4px;
    border: 1px solid var(--primary-color-d1);

    & .icon {
        margin-right: 8px;
    }

    &:hover {
        background-color: var(--primary-color-l2);
    }
    &:active {
        background-color: var(--primary-color);
    }
}