@import url("/assets/Computer-Modern/Sans/cmun-sans.css");

.login-form-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

html{
    background: linear-gradient(180deg, blue, white 33%, red);
    background-attachment: fixed;
}

#Ins{
    display: none;
}

#Co{
    display: block;
}

.login-form {
    background-color: rgb(151, 6, 127);
    color: white;
    padding: 12px;
    border-radius: 8px;
}

.login-form > form > * {
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: "Computer Modern Sans", system-ui;
    font-size: 1.2em;
}

button {
    font-family: "Computer Modern Sans";
    font-size: 1em;
}

#sub{
    border-radius: 4px;
    background-color: rgb(49, 8, 88);
    color: white;   
    padding: 6px 8px;
    border: 1px solid transparent;
}