@import url("/assets/Computer-Modern/Sans/cmun-sans.css");

.login-form-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

html {
    background: linear-gradient(180deg, rgba(171,171,255,1), white 33%, rgba(255,172,172,1));
    background-attachment: fixed;
}

body {
    margin: 8px;
}

main {
    margin: 8px;
}

.title{
    text-align: center;
    color: darkblue;
}

#Ins{
    display: none;
}

#Co{
    display: block;
}

.login-form {
    background-color: rgb(151, 6, 127);
    color: white;
    padding: 12px;
    border-radius: 8px;
}

.login-form > form > * {
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: "Computer Modern Sans", system-ui;
    font-size: 1.2em;
}

button {
    font-family: "Computer Modern Sans";
    font-size: 1em;
}

.sub{
    border-radius: 4px;
    background-color: rgb(49, 8, 88);
    color: white;   
    padding: 6px 8px;
    border: 1px solid transparent;
}

.sub:hover{
    background-color: rgb(37, 5, 67);
    cursor: pointer;
} 


.user-box {
    position: relative;
}

.user-box > .-bg {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    width: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: height 0.3s ease;
    z-index: 998; /* Assure que la boîte est au-dessus de tous les autres éléments */
}

.user-box .-options {
    display: none;
    padding-top: 5px;
}

.user-box .-options a {
    display: block;
    padding: 5px 0;
    color: #333;
    text-decoration: none;
}

.user-box.-open .-contents{
    display: block;
}

#userInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    cursor: pointer;
}

.background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998; /* Assure que le fond est sous la boîte */
}

#member-nav {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;

    border-radius: 6px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    gap: 18px;

    padding: 0 16px;

    & > .-links {
        margin: 0;
        list-style: none;
        padding: 6px 0;

        display: flex;
        align-items: center;
        gap: 8px;

        flex-grow: 1;

        & a, & a:visited {
            display: block;
            padding: 4px 12px;
            text-decoration: none;
            color: darkblue;
        }

        & a:hover {
            background-color: #E5E5E5;
            border-radius: 4px;
        }

        & a.-active {
            background-color: #143080;
            color: white;
            border-radius: 4px;
        }

        & a.-active:hover {
            background-color: #11296B;
        }

        & li:first-child {
            padding-left: 0;
        }

        & .-sign-out {
            margin-left: auto;

            & > a {
                color: red;
            }
        }
    }

    & > .-ttm {
        align-self: center;
        font-weight: bold;
    }

    & > .-sep {
        border-right: 1px solid rgba(0, 0, 0, 0.3);

        margin: 8px 0;
    }

}

.profile-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-form {
    background-color: rgb(151, 6, 127);
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    width: 50%;
    height: 30%;
    overflow: auto;
}

.profile-form table{
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

.profile-form .-title{
    color: white;

    & > hr{
        border-top: 2px solid black;
        margin-top : -2px;
    }
}

.profile-form .-delete{
    background-color: red;

    border-radius: 4px;
    font-size: 14px;
    color: white;   
    padding: 6px 8px;
    border: 1px solid transparent;
}

.profile-form .-delete:hover{
    background-color: rgb(222, 0, 0);
    cursor: pointer;
} 

.profile-form > form > *:not(table) {
    margin: 0 auto;
}

.profile-form ul{
    margin: 0;
    list-style: none;
    float: left;
    text-align: left;
}

.profile-form ul>li>label{
    margin: 0;
    list-style: none;

}


